.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* padding-top: 100px; */
}

.mainContainer{
    width: 900px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.addButton{
    background-color: lightblue;
    min-height: 50px;
    border: 1px solid white;
    min-width: 200px;
    border-radius: 10px;
    font-size: medium;
}

.formHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.formFieldContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.formProductContainer{
    min-height: 50px;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.formProductDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.formProductButtonContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.formSectionContainer{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    gap: 10px;
}

.searchResultContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.searchMidContainer{
    text-align: left;
    flex: 0.8;
}

.productImg{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.circleButton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: medium;
    background: none;
}

.invoiceContainer{
    border: 1px solid grey;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.invoiceDetailSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    border-bottom: 1px solid grey;
    gap: 10px
}

.invoiceDetailMainSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

.invoiceProductListContainer{
    flex: 1;
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

.invoiceProduct{
    display: flex;
    justify-content: space-between;
}

.paginationControls{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

